@model ArtWebApp.DataModels.FreightChargeDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FreightChargeDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AtcID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtcID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreightCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreightCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreightRequestMaster.FreightRequestNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreightRequestMaster.FreightRequestNum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FreightReqDetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
