@model IEnumerable<ArtWebApp.DataModels.FreightChargeDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AtcID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FreightCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FreightRequestMaster.FreightRequestNum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AtcID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FreightCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FreightRequestMaster.FreightRequestNum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FreightReqDetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FreightReqDetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FreightReqDetID })
        </td>
    </tr>
}

</table>
