@model ArtWebApp.Areas.ArtMVCGPO.ViewModal.GMRNViewModal
@{
    ViewBag.Title = "GMRNDocumentUpload";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>GMRNDocumentUpload</h2>

<form action="" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">


        <div class="row">
            <div class="col-md-2">
                @Html.Label("GMRN#", new { @class = "control-label col-md-2" });
            </div>
            <div class="col-md-6">
                @Html.DropDownList("MrnID", Model.MrnList, htmlAttributes: new { @class = "chosen-select form-control" })
                @Html.HiddenFor(model => Model.MrnID, new { htmlAttributes = new { @class = "form-control" } })








            </div>
            <div class="col-md-4">
           
                @Html.ActionLink("link caption", "ShowMRN", "GMRNDocumentUpload", new { MrnID = Model.MrnID }, null);
                <div>

            </div>
        


    </div>

</div>
        <div class="row">
            <label for="file">Upload File:</label><input type="file" name="file" id="file" />
            <input type="submit" value="Save" />
            @if (TempData["Success"] != null)
            {
                <div class="success">
                    <p>@TempData["Success"].ToString()</p>
                </div>
            }

        </div>
            <table class="table table-bordered table-striped table-responsive>
                <tr>
                    <th>
                        @Html.Display("Uploadid")
                    </th>
                    <th>
                        @Html.Display("Mrn_PK")
                    </th>
                    <th>
                        @Html.Display("StringLength")
                    </th>
                    <th>
                        @Html.Display("MrnType")
                    </th>
                    <th>
                        @Html.Display("AddedBy")
                    </th>
                    <th>
                        @Html.Display("AddedDate")
                    </th>
                    <th></th>
                    <th></th>
                </tr>


                @if (Model.MrnFileUploads != null)
                {


                    foreach (var item in Model.MrnFileUploads)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mrn_PK)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StringLength)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MrnType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AddedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AddedDate)
                            </td>
                            <td>
                                @Html.ActionLink("Download", "Download", new { id = item.FileUploadID })

                            </td>
                            <td>
                                @if (item.AddedBy == Session["Username"].ToString())
                                {

                                    Html.ActionLink("Delete", "Delete", new { id = item.FileUploadID });
                                }

                            </td>
                        </tr>
                    }







                }

            </table>

</form>