
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}
<script>


    $(document).ready(function () {


        var totalcompleted = 0;

        
        $("#output").empty();

        $("#Show").click(function (e, params) {
            var issucess=
            $("#output").empty();
            $('#loadingmessage').show();
            

              $("#output").append("<p><strong>Start Updating Locations</strong></p>");
            $.ajax({
                url: "@Url.Action("UpDateLocation", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {


                     $("#output").append("<p><strong> Successfully Completed Updating Locations" + fooBarHTML.filename + "Ms </strong></p>")
                     totalcompleted = totalcompleted + 1;
                     hideDiv(totalcompleted);
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong> Error Updating Locations</strong></p>")
                    totalcompleted = totalcompleted + 1;
                    hideDiv(totalcompleted);
                }
            });



            $("#output").append("<p><strong>Start Updating TTL</strong></p>");
            $.ajax({
                url: "@Url.Action("UpdateTTL", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {


                     $("#output").append("<p><strong> Successfully Completed Updating TTL" + fooBarHTML.filename + "Ms </strong></p>")
                     totalcompleted = totalcompleted + 1;
                     hideDiv(totalcompleted);
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong> Error Updating TTL</strong></p>")
                    totalcompleted = totalcompleted + 1;
                    hideDiv(totalcompleted);
                }
            });

            $("#output").append("<p><strong>Start Updating CostPerMinute</strong></p>");
              $.ajax({
                url: "@Url.Action("UpdateCostperMinute", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {

                     $("#output").append("<p><strong> Successfully Completed Updating CostPerMinute" + fooBarHTML.filename +"Ms </strong></p>")
                     totalcompleted = totalcompleted + 1;
                     hideDiv(totalcompleted);
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong>Error Updating CostPerMinute</strong></p>")
                    totalcompleted = totalcompleted + 1;
                    hideDiv(totalcompleted);
                }
            });



            $("#output").append("<p><strong>Start Updating CostPerMinute</strong></p>");
              $.ajax({
                url: "@Url.Action("UpdateExtraReq", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {

                     $("#output").append("<p><strong> Successfully Completed Updating ExtraReq in " + fooBarHTML.filename +"Ms  </strong></p>")
                     totalcompleted = totalcompleted + 1;
                     hideDiv(totalcompleted);
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong>Error Updating ExtraReq</strong></p>")
                    totalcompleted = totalcompleted + 1;
                    hideDiv(totalcompleted);
                }
            });





             $("#output").append("<p><strong>Start Updating Jobcontract </strong></p>");
              $.ajax({
                url: "@Url.Action("UpDateJobContracttokenya", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {

                     $("#output").append("<p><strong> Successfully Completed Updating Jobcontract in " + fooBarHTML.filename +"Ms  </strong></p>")
                     totalcompleted = totalcompleted + 1;
                     hideDiv(totalcompleted);
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong>Error Updating Jobcontract</strong></p>")
                    totalcompleted = totalcompleted + 1;
                    hideDiv(totalcompleted);
                }
            });

             $("#output").append("<p><strong>Start Updating Optional Jobcontract </strong></p>");
              $.ajax({
                url: "@Url.Action("UpDateJobContractOptionaltokenya", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {

                     $("#output").append("<p><strong> Successfully Completed Updating Optional Jobcontract in " + fooBarHTML.filename +"Ms  </strong></p>")
                     totalcompleted = totalcompleted + 1;
                     hideDiv(totalcompleted);
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong>Error Updating Optional Jobcontract</strong></p>")
                    totalcompleted = totalcompleted + 1;
                    hideDiv(totalcompleted);
                }
            });


             $("#output").append("<p><strong>Start Updating CSFA </strong></p>");
              $.ajax({
                url: "@Url.Action("UpdateCSFA", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {

                     $("#output").append("<p><strong> Successfully Completed Updating CSFA in " + fooBarHTML.filename +"Ms  </strong></p>")
                     totalcompleted = totalcompleted + 1;
                     hideDiv(totalcompleted);
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong>Error Updating CSFA </strong></p>")
                    totalcompleted = totalcompleted + 1;
                    hideDiv(totalcompleted);
                }
             });

            $("#output").append("<p><strong>Start Updating Input Date</strong></p>");
              $.ajax({
                url: "@Url.Action("UpdateInputlineData", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {

                     $("#output").append("<p><strong> Successfully Completed Updating Input date in " + fooBarHTML.filename +"Ms  </strong></p>")
                     totalcompleted = totalcompleted + 1;
                     hideDiv(totalcompleted);
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong>Error Updating Input Date </strong></p>")
                    totalcompleted = totalcompleted + 1;
                    hideDiv(totalcompleted);
                }
             });


              hideDiv(totalcompleted);
              if (totalcompleted >= 6) {
                  $("#output").hide();
              }





             @*$('#loadingmessage').show();
            $("#output").append("<p><strong>Start Updating PL </strong></p>");
              $.ajax({
                url: "@Url.Action("UpdatePL", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {

                     $("#output").append("<p><strong> Successfully Completed Updating PL in " + fooBarHTML.filename +"Ms  </strong></p>")
                     $('#loadingmessage').hide();
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong>Error Updating PL</strong></p>")
                    $('#loadingmessage').hide();
                }
            });*@


        });
        $("#Sync_jc_Optional").click(function (e, params) {
            var issucess=
            $("#output").empty();
            $('#loadingmessage').show();

             $("#output").append("<p><strong>Start Updating Jobcontract </strong></p>");
              $.ajax({
                url: "@Url.Action("UpDateJobContracttokenya", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {

                     $("#output").append("<p><strong> Successfully Completed Updating Jobcontract in " + fooBarHTML.filename +"Ms  </strong></p>")
                     totalcompleted = totalcompleted + 1;
                     hideDiv(totalcompleted);
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong>Error Updating Jobcontract</strong></p>")
                    totalcompleted = totalcompleted + 1;
                    hideDiv(totalcompleted);
                }
            });

             $("#output").append("<p><strong>Start Updating Optional Jobcontract </strong></p>");
              $.ajax({
                url: "@Url.Action("UpDateJobContractOptionaltokenya", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {

                     $("#output").append("<p><strong> Successfully Completed Updating Optional Jobcontract in " + fooBarHTML.filename +"Ms  </strong></p>")
                     totalcompleted = totalcompleted + 1;
                     hideDiv(totalcompleted);
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong>Error Updating Optional Jobcontract</strong></p>")
                    totalcompleted = totalcompleted + 1;
                    hideDiv(totalcompleted);
                }
            });


            $("#output").append("<p><strong>Start Updating TTL</strong></p>");
            $.ajax({
                url: "@Url.Action("UpdateTTL", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {


                     $("#output").append("<p><strong> Successfully Completed Updating TTL" + fooBarHTML.filename + "Ms </strong></p>")
                     totalcompleted = totalcompleted + 1;
                     hideDiv(totalcompleted);
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong> Error Updating TTL</strong></p>")
                    totalcompleted = totalcompleted + 1;
                    hideDiv(totalcompleted);
                }
            });

              hideDiv(totalcompleted);
              if (totalcompleted >= 6) {
                  $("#output").hide();
              }

        });

        $("#input_date_update").click(function (e, params) {
            var issucess=
            $("#output").empty();
            $('#loadingmessage').show();

              $("#output").append("<p><strong>Start Updating Input Date</strong></p>");
              $.ajax({
                url: "@Url.Action("UpdateInputlineData", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {

                     $("#output").append("<p><strong> Successfully Completed Updating Input date in " + fooBarHTML.filename +"Ms  </strong></p>")
                     totalcompleted = totalcompleted + 1;
                     hideDiv(totalcompleted);
                     $('#loadingmessage').hide();
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong>Error Updating Input Date </strong></p>")
                    totalcompleted = totalcompleted + 1;
                    hideDiv(totalcompleted);
                }
             });


           

              hideDiv(totalcompleted);
              if (totalcompleted >= 6) {
                  $("#output").hide();
              }

        });

        function hideDiv(totalcompleted) {
            
            if (totalcompleted >= 6) {
                alert("Completed");
                $("#loadingmessage").hide();
            }
        }

        $("#BackUP").click(function (e, params) {

            $("#output").empty();
            $('#loadingmessage').show();
            $("#output").append("<p><strong>Start BackUP DB</strong></p>");
            $.ajax({
                url: "@Url.Action("BackUp", "SyncData")",
                traditional: true,
                type: "GET",
                 success: function (fooBarHTML) {


                     $("#output").append("<p><strong> Successfully Completed BackUP DB to " + fooBarHTML.filename+"</strong></p>")
                     $('#loadingmessage').hide();




                      $('#loadingmessage').show();
                      $("#output").append("<p><strong>Start Zipping BackUPto " + fooBarHTML.filename + "Comp</strong></p>")
              $.ajax({
                url: "@Url.Action("ZipBackUP", "SyncData")",
                traditional: true,
                type: "GET",
                data: { 'filename': fooBarHTML.filename },
                 success: function (fooBarHTML) {

                     $("#output").append("<p><strong> Successfully Zipped BackUP to " + fooBarHTML.filename + "Comp</strong></p>")
                     $('#loadingmessage').hide();
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong>Error Zipping BackUP</strong></p>")
                    $('#loadingmessage').hide();
                }
            });
                },
                error: function (xhr, status, errorThrown) {
                    $("#output").append("<p><strong> Error BackUP DB</strong></p>")
                    $('#loadingmessage').hide();
                }
            });








        });







    });
</script>
<h2>Index</h2>

<button id="Show" type="button" class="btn btn-primary">Sync DB</button>


<button id="Sync_jc_Optional" type="button" class="btn btn-primary">JobContract Optional</button>
<button id="input_date_update" type="button" class="btn btn-primary">Input Date</button>


<button id="BackUP" type="button" class="btn btn-primary">BackUP</button>
<div id="Message">



</div>
<div id='loadingmessage' style='display:none'>
    <img src='~/Image/ajax-loader.gif' />
</div>

<div id="output">



</div>