@model ArtWebApp.Areas.MVCTNA.ViewModel.ProductionTNAVModelMaster
@using ArtWebApp.DataModels;
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ExtDeliveryToken</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })





        

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.AtcID, "Atc#", htmlAttributes: new { @class = "control-label col-md-2" })
                
                </div>
            <div class="col-md-6">
               
           
                @Html.DropDownListFor(m => m.AtcID, Model.AtcList, "Please select Atc", new { @class = "chosen-select form-control" })

                @*@Html.ValidationMessageFor(model => model.AtcID, "", new { @class = "text-danger" })*@


            </div>
            <div class="col-md-4">
                <input type="submit" value="Show" name="action:Create" />


                <div>

                </div>



            </div>

        </div>



      



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>




        @if (Model.ProductionTNAVModelList != null)
        {

            
                <table class="table table-responsive table-bordered">
                   <thead>
                       <tr>
                           <th>
                               Atc Details
                           </th>
                           <th>Merchant PCD</th>
                           <th>
                               Dates
                           </th>
                           <
                       </tr>

                   </thead>
                    <tbody>
                        @foreach (var item in Model.ProductionTNAVModelList)
                        {

                            Model.tnaUserRight = Model.tnaUserRights.Where(u => u.Location_PK == item.Location_PK).FirstOrDefault();
                            <tr>
                                <td>
                                    <div class="well-sm"> Atc# :</div>
                                    <div class="well-sm">  @Html.DisplayFor(modelItem => item.AtcNum)</div>
                                    <div class="well-sm">OurStyle# :</div>
                                    <div class="well-sm">@Html.DisplayFor(modelItem => item.OurStyle)</div>

                                    <div class="well-sm">BuyerStyle# </div>



                                    <div class="well-sm"> @Html.DisplayFor(modelItem => item.BuyerStyle)</div>
                                    <div class="well-sm"> Factory</div>
                                    <div class="well-sm"> @Html.DisplayFor(modelItem => item.LocationName)</div>


                                    <div class=" ourstyleid">
                                        @Html.HiddenFor(modelItem => item.OurStyleID)
                                      
                                    </div>
                                    <div class="locationpk">
                                        @Html.HiddenFor(modelItem => item.Location_PK)
                                    </div>
                                </td>

                                <td>
                                    <p>



                                    </p>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"> Merchant PCD</h3>
                                        </div>
                                        <div class="panel-body"> <div>Plan : <div class="merchantPCD"> @item.PCD</div> </div></div>

    


                                    </div>


                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"> FACTORY PCD</h3>
                                        </div>
                                        <div class="panel-body"> <div>Plan : <div class="factoryplannedpcd">@item.FACTORYPLANNEDPCD</div>></div></div>

                                        @try
    {

        if (Model.tnaUserRight.IsFactoryPlannedPCDDate == true)
        {
                                    <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                        @Html.EditorFor(model => item.FACTORYPLANNEDPCD, new { htmlAttributes = new { @Value = item.PCD.ToString("yyyy-MM-dd"), @class = "datepicker" } })
                                        <p class="hidden idfeild">@item.IdFACTORYPLANNEDPCD</p>
                                    </div>
}}catch (Exception ex) { }



                                    </div>

                                </td>

                                <td>

                                    <div class="container">

                                        <div class="col-md-3">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title"> PP SUBMISSION DATE</h3>
                                                </div>
                                                <div class="panel-body"> <div>Plan : @item.PPSUBMISSIONDATEMERCHANT </div><div class="Actual">Actual  : @item.ActualPPSUBMISSIONDATEMERCHANT </div></div>

                                                
                                                @try
    {
        if (Model.tnaUserRight.IsPPSumbissionDate == true && item.ActualPPSUBMISSIONDATEMERCHANT.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IsPPSumbissionDate" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdPPSUBMISSIONDATEMERCHANT</p>
                                            </div>
                                                    }
                                                }
                                                catch (Exception ex) { }


                                            </div>
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">PP APPROVAL</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>Plan : @item.PPAPPROVAL </div><div class="Actual">Actual  : @item.ActualPPAPPROVAL </div>

                                                </div>
                                                @try
    {
        if (Model.tnaUserRight.IsPPApprovalDate == true && item.ActualPPAPPROVAL.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IsPPApprovalDate" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdPPAPPROVAL</p>
                                            </div>

}}catch (Exception ex) { }
                                            </div>
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">SAMPLE YARDAGES</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>Plan : @item.SAMPLEYARDAGES </div><div class="Actual">Actual  : @item.ActualSAMPLEYARDAGES </div>

                                                </div>
                                                @try
    {
        if (Model.tnaUserRight.IsSampleYardagesDate == true & item.ActualSAMPLEYARDAGES.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IdSAMPLEYARDAGES" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdSAMPLEYARDAGES</p>
                                            </div>
                                                    }
                                                }
                                                catch (Exception ex) { }
                                            </div>

                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">SYSTEM FILES</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>Plan : @item.SYSTEMFILES </div><div class="Actual">Actual  : @item.ActualSYSTEMFILES </div>

                                                </div>
                                                @try
    {
        if (Model.tnaUserRight.IsSystemFile == true & item.ActualSYSTEMFILES.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IsSampleYardagesDate" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdSYSTEMFILES</p>
                                            </div>
                                                    }
                                                }
                                                catch (Exception ex) { }
                                            </div>

                                        </div>

                                        <div class="col-md-3">

                                            <div class="panel panel-warning">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">GRADDED PATTERN</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>Plan : @item.GRADDEDPATTERN </div><div class="Actual">Actual  : @item.ActualGRADDEDPATTERN </div>

                                                </div>
                                                @try
    {
        if (Model.tnaUserRight.IsGradedPatternDate == true & item.ActualGRADDEDPATTERN.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IsGradedPatternDate" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdGRADDEDPATTERN</p>
                                            </div>
                                                    }
                                                }
                                                catch (Exception ex) { }
                                            </div>
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">SEWING TRIM</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>Plan : @item.SEWINGTRIM </div><div class="Actual">Actual  : @item.ActualSEWINGTRIM </div>

                                                </div>
                                                @try
    {
        if (Model.tnaUserRight.IsSewingTrimDate == true & item.ActualSEWINGTRIM.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IsSewingTrimDate" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdSEWINGTRIM</p>
                                            </div>
                                                    }
                                                }
                                                catch (Exception ex) { }
                                            </div>
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">SEWING SET</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>Plan : @item.SEWINGTRIM </div><div class="Actual">Actual  : @item.ActualSEWINGTRIM </div>

                                                </div>
                                                @try
    {
        if (Model.tnaUserRight.IsSewingTrimDate == true & item.ActualSEWINGTRIM.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IsSewingTrimDate2" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdSEWINGTRIM</p>
                                            </div>

                                                    }
                                                }
                                                catch (Exception ex) { }
                                            </div>

                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Shrinkage</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>Plan : @item.SHRINKAGE </div><div class="Actual">Actual  : @item.ActualSHRINKAGE </div>

                                                </div>
                                                @try
    {
        if (Model.tnaUserRight.IsShrinkage == true & item.ActualSHRINKAGE.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IdSHRINKAGE" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdSHRINKAGE</p>
                                            </div>

                                                    }
                                                }
                                                catch (Exception ex) { }
                                            </div>
                                        </div>



                                        <div class="col-md-3">

                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">SIZE SET</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>Plan : @item.SIZESET </div><div class="Actual">Actual  : @item.ActualSIZESET </div>

                                                </div>
                                                @try
    {
        if (Model.tnaUserRight.IsSizeSetDate == true & item.ActualSIZESET.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IsSizeSetDate" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdSIZESET</p>
                                            </div>

                                                    }
                                                }
                                                catch (Exception ex) { }
                                            </div>
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">PP MEETING</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>Plan : @item.PPMEETING </div><div class="Actual">Actual  : @item.ActualPPMEETING </div>

                                                </div>
                                                @try
    {
        if (Model.tnaUserRight.IsPPMeetingDate == true & item.ActualPPMEETING.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IsPPMeetingDate" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdPPMEETING</p>
                                            </div>

                                                    }
                                                }
                                                catch (Exception ex) { }
                                            </div>
                                            <div class="panel panel-warning">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">FC1</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>Plan : @item.FC1 </div><div class="Actual">Actual  : @item.ActualFC1 </div>

                                                </div>
                                                @try
    {
        if (Model.tnaUserRight.IsFC1Date == true & item.ActualFC1.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IsFC1Date" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdFC1</p>
                                            </div>
                                                    }
                                                }
                                                catch (Exception ex) { }
                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">FINAL MARKER</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>Plan : @item.FINALMARKER </div><div class="Actual">Actual  : @item.ActualFINALMARKER </div>

                                                </div>
                                                @try
    {
        if (Model.tnaUserRight.IsFinalMarkerDate == true & item.ActualFINALMARKER.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IsFinalMarkerDate" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdFINALMARKER</p>
                                            </div>
                                                    }
                                                }
                                                catch (Exception ex) { }
                                            </div>
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">INPUT</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>Plan : @item.INPUT </div><div class="Actual">Actual  : @item.ActualINPUT </div>

                                                </div>
                                                @try
    {
        if (Model.tnaUserRight.IsInputDate == true & item.ActualINPUT.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IsInputDate" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdINPUT</p>
                                            </div>
                                                    }
                                                }
                                                catch (Exception ex) { }
                                            </div>
                                            <div class="panel panel-warning">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">PACKING TRIM</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>Plan : @item.PACKINGTRIMS </div><div class="Actual">Actual  : @item.ActualPACKINGTRIMS </div>

                                                </div>
                                                @try
    {
        if (Model.tnaUserRight.IsPackingTrimDate == true & item.ActualPACKINGTRIMS.Trim() == "")
        {
                                            <div class="checkbox" style="padding-bottom:20px;padding-left:10px">
                                                <label><input type="checkbox" id="IsPackingTrimDate" value="">Mark Today</label>
                                                <p class="hidden idfeild">@item.IdPACKINGTRIMS</p>
                                            </div>
                                                    }
                                                }
                                                catch (Exception ex) { }
                                            </div>
                                        </div>

                                    </div>












                                </td>
                    

                            </tr>
                        }


                    </tbody>

                   
                </table>
            





        }







    </div>
}
    <script>


        $(document).ready(function () {





            $('body').on('change', '.datepicker', function () {


                var newDate = $(this).datepicker('getDate');
                var oldDate = new Date( $(this).parent().siblings(".panel-body").find('.factoryplannedpcd').text());
                var merchantPCD = new Date( $(this).closest('tr').find('.merchantPCD').text());
                var datetoday = new Date($.now())
                var diff = new Date(newDate - oldDate);
                var days = diff / 1000 / 60 / 60 / 24;




                if (newDate < merchantPCD) {

                    alert("Cannot Plan Prior to merchant PCD");


                }
                else if (days < 3) {
                    alert("You Can Change Factory PlanDate atleast 3 days prior only");
                }
                else {

                    var OurStyleIddiv = $(this).closest("tr").find(".ourstyleid");
                    var item_OurStyleID = OurStyleIddiv.find('#item_OurStyleID').val();

                    var locationpkddiv = $(this).closest("tr").find(".locationpk");
                    var item_Location_PK = locationpkddiv.find('#item_Location_PK').val();
                                
                      $.ajax({
                type: 'GET',
                url: "@Url.Action("ChangeFactoryDate", "ProductIonTNA")",
                data: { 'MerchantPCD': merchantPCD, 'FactoryPCD': newDate, 'CurrentFactoryPCD': oldDate, 'ourstyleid': item_OurStyleID, 'locationpk': item_Location_PK },
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        panel_body.children("div.Actual").html("Actual  : " + new Date($.now()));
                        panel_body.children("div.Actual").css({ "color": "red" });
                        alert('Successfully Updated');




                    }
                    else {
                        alert('Error');
                    }

                },
                error: function (error) {
                    console.log(error);

                }
            });

                }


            });












            $('body').on('click', '.checkbox', function () {


                var isChecked = $(this).find(":checkbox")[0].checked;

                if (isChecked)
                {




                    if (confirm('Are you sure you want to Mark Selected Action Completed?'))
                    {
                        var $tr = $(this).closest("tr");
                        $tr.css("background-color", "red");

                        var panel_body = $(this).siblings(".panel-body");
                        var chckbx = $(this).find(":checkbox")[0];
                        var id = $(this).find(":checkbox")[0].id;
                        var OurStyleIddiv = $(this).closest("tr").find(".ourstyleid");
                        var item_OurStyleID = OurStyleIddiv.find('#item_OurStyleID').val();

                        var locationpkddiv = $(this).closest("tr").find(".locationpk");
                        var item_Location_PK = locationpkddiv.find('#item_Location_PK').val();
                        var CompId = parseFloat($(this).find(".idfeild").text());

                     

     $.ajax({
                type: 'GET',
                url: "@Url.Action("Mark", "ProductIonTNA")",
                data: { 'CompId': CompId, 'Ourstyleid': item_OurStyleID, 'location_Pk': item_Location_PK, 'Id': id },
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        panel_body.children("div.Actual").html("Actual  : " + new Date($.now()));
                        panel_body.children("div.Actual").css({ "color": "red" });
                        alert('Successfully Updated');




                    }
                    else {
                        alert('Error');
                    }

                },
                error: function (error) {
                    console.log(error);

                }
            });
                    }


                    //$(this).siblings(".panel-body").css("background", "yellow");




                }

            });
        });

    </script>