@model ArtWebApp.Areas.MVCTNA.ViewModel.ProductionTNAVModelMaster
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {



            @*$("#DeliveryOrderWF").click(function (e, params) {
            $('#loadingmessage').show();
            var fromdate = $("#FromDate").val();
            var todate = $("#Todate").val();

            alert(fromdate);
            alert(todate);
                $.ajax({
                    url: "@Url.Action("BetweenDateTNA", "ProductIonTNA")",
                    traditional: true,
                    type: "GET",
                    data: { 'fromdate': fromdate, 'todate': todate},
                    success: function (fooBarHTML) {
                        $('#loadingmessage').hide();
                    $("#output").html(fooBarHTML);
                    },
                    error: function (xhr, status, errorThrown) {
                        $('#loadingmessage').hide();
                    }
                    });
                    });*@


         $("#DeliveryOrderWF").click(function (e, params) {
            $('#loadingmessage').show();
            var fromdate = $("#FromDate").val();
            var todate = $("#FromDate").val();

          
                $.ajax({
                    url: "@Url.Action("BetweenDateTNA", "ProductIonTNA")",
                    traditional: true,
                    type: "GET",
                    data: { 'fromdate': fromdate, 'todate': todate},
                    success: function (fooBarHTML) {
                        $('#loadingmessage').hide();
                    $("#output").html(fooBarHTML);
                    },
                    error: function (xhr, status, errorThrown) {
                        $('#loadingmessage').hide();
                    }
                    });
                    });




    });

</script>

<h2>Index</h2>
<div id="demo2">
    @*<div class="container-fluid jumbotron">

        <div class="row top-buffer">
            <div class="col-sm-2">
                From Date :

            </div>
            <div class="col-sm-3">
                @Html.TextBox("FromDate", null, htmlAttributes: new { @style = "width: 250px;", @class = "datepicker form-control" })
            </div>
            <div class="col-sm-2">
                To date
            </div>
            <div class="col-sm-3">
                @Html.TextBox("Todate", null, htmlAttributes: new { @style = "width: 250px;", @class = "datepicker form-control" })
            </div>
            <div class="col-sm-2">
                To date
            </div>

        </div>

        <div id='loadingmessage' style='display:none'>
            <img src='~/Image/ajax-loader.gif' /><img src="~/Image/ajax-loader.gif" />
        </div>
        <div class="row top-buffer" style="background-color:greenyellow;">
            <div class="col-sm-3">
                <input id="DeliveryOrderWF" type="button" value="Show TNA Between dates" data-toggle="tooltip" data-placement="top" title="Show TNA Between dates" class="btn btn-default show" />

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">
            </div>

        </div>
    </div>*@
</div>
@*<div id="demo2">
    <div class="container-fluid jumbotron">

        <div class="row top-buffer">
            <div class="col-sm-2">
                From Date :

            </div>
            <div class="col-sm-3">
                @Html.TextBox("FromDate", null, htmlAttributes: new { @style = "width: 250px;", @class = "datepicker form-control" })
            </div>
            <div class="col-sm-2">
                To date
            </div>
            <div class="col-sm-3">
                @Html.TextBox("Todate", null, htmlAttributes: new { @style = "width: 250px;", @class = "datepicker form-control" })
            </div>
            <div class="col-sm-2">
                To date
            </div>

        </div>

        <div id='loadingmessage' style='display:none'>
            <img src='~/Image/ajax-loader.gif' /><img src="~/Image/ajax-loader.gif" />
        </div>
        <div class="row top-buffer" style="background-color:greenyellow;">
            <div class="col-sm-3">
                <input id="DeliveryOrderWF" type="button" value="Show TNA Between dates" data-toggle="tooltip" data-placement="top" title="Show TNA Between dates" class="btn btn-default show" />

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">
            </div>

        </div>
    </div>
</div>*@



<div id="demo2">
    <div class="container-fluid jumbotron">

        <div class="row top-buffer">
            <div class="col-sm-2">
                Factory PCD Upto: 

            </div>
            <div class="col-sm-3">
                @Html.TextBox("FromDate", null, htmlAttributes: new { @style = "width: 250px;", @class = "datepicker form-control" })
            </div>
            <div class="col-sm-2">
                
            </div>
            <div class="col-sm-3">
              
            </div>
            <div class="col-sm-2">
                To date
            </div>

        </div>

        <div id='loadingmessage' style='display:none'>
            <img src='~/Image/ajax-loader.gif' /><img src="~/Image/ajax-loader.gif" />
        </div>
        <div class="row top-buffer" style="background-color:greenyellow;">
            <div class="col-sm-3">
                <input id="DeliveryOrderWF" type="button" value="Show TNA Upto Factory PCD Date" data-toggle="tooltip" data-placement="top" title="Show TNA Upto Factory PCD Date" class="btn btn-default show" />

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">
            </div>

        </div>
    </div>
</div>
<div  id="output"></div>
