@model ArtWebApp.Areas.MVCTNA.ViewModel.ProductionTNAVModelMaster
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/css/bootstrap.css" rel="stylesheet" />


<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src=" https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript" src=" https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.colVis.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.bootstrap.min.css" />

<script src="~/Plugin/MyDataTable.js"></script>
@if (Model.ProductionTNAVModelList != null)
{


    <table class="table table-bordered table-bordered table-striped MyDataTable">
        <thead>
            <tr>

                <th>
                    Atc
                </th>
                <th>
                    OurStyle
                </th>
                <th>
                    BuyerStyle
                </th>
                <th>
                    Factory
                </th>
                <th>
                    Details
                </th>

                <th>  PCD                           </th>
                <th>  FACTORY PLANNED PCD           </th>
                <th>  FINAL MARKER                  </th>
                <th>  FC1                           </th>
                <th>  PP MEETING                    </th>
                <th>  SIZE SET                      </th>
                <th>  SEWING TRIM                   </th>
                <th>  BULK FABRIC                   </th>
                <th>  RECEIPT OF ORGINAL DOCUMENT   </th>
                <th>  GRADDED PATTERN               </th>
                <th>  SAMPLE YARDAGES               </th>
                <th>  PP APPROVAL                   </th>
                <th>  PP SUBMISSION DATE MERCHANT   </th>
                <th>  INPUT                         </th>
                <th>  PACKING TRIMS                 </th>


            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.ProductionTNAVModelList)
            {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.AtcNum)
                </td>


                <td>@Html.DisplayFor(modelItem => item.OurStyle)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyerStyle)
                </td>
                <td><div class="well-sm">@Html.DisplayFor(modelItem => item.LocationName)</div></td>
                <td>
                    <div class=" ourstyleid">
                        @Html.HiddenFor(modelItem => item.OurStyleID)

                    </div>
                    <div class="locationpk">
                        @Html.HiddenFor(modelItem => item.Location_PK)
                    </div>
                </td>











                <td>
                    <p>


                        <div> @item.PCD </div>


                    </p>



                </td>
                <td>


                    <div> @item.FACTORYPLANNEDPCD </div>



                </td>
                <td>

                    <div style="background-color:@item.status_dFINALMARKER">
                        <span style="white-space: pre-line">Plan  : @item.FINALMARKER</span><span style="white-space: pre-line">
    Status  : @if (item.status_dFINALMARKER == "Green")
    {<span>Done : @item.ActualFINALMARKER</span> }
else
{ <span>Pending</span>}
</span><span style="white-space: pre-line">By  : @item.UsrDdFINALMARKER</span>
                    </div>
                </td>

                <td>


                    <div style="background-color:@item.status_FC1">
                        <span style="white-space: pre-line">Plan  : @item.FINALMARKER</span>
                        <span style="white-space: pre-line">
                            Status  : @if (item.status_FC1 == "Green")
                            {<span>Done : @item.ActualFC1</span> }

                            else
                            { <span>Pending</span>}
                        </span>
                        <span style="white-space: pre-line">By  : @item.UsrDFC1</span>
                    </div>





                </td>


                <td>





                    <div style="background-color:@item.status_PPMEETING">
                        <span style="white-space: pre-line">Plan  : @item.PPMEETING</span>
                        <span style="white-space: pre-line">
                            Status  : @if (item.status_PPMEETING == "Green")
                            {<span>Done : @item.ActualPPMEETING</span> }
else
{ <span>Pending</span>}
                        </span>
                        <span style="white-space: pre-line">By  : @item.UsrDPPMEETING</span>
                    </div>






                </td>


                <td>




                    <div style="background-color:@item.status_SIZESET">
                        <span style="white-space: pre-line">Plan  : @item.SIZESET</span>
                        <span style="white-space: pre-line">
                            Status  : @if (item.status_SIZESET == "Green")
                            {<span>Done : @item.ActualSIZESET</span> }
else
{ <span>Pending</span>}
                        </span>
                        <span style="white-space: pre-line">By  : @item.UsrDSIZESET</span>
                    </div>

                </td>


                <td>




                    <div style="background-color:@item.status_SEWINGTRIM">
                        <span style="white-space: pre-line">Plan  : @item.SEWINGTRIM</span>
                        <span style="white-space: pre-line">
                            Status  : @if (item.status_SEWINGTRIM == "Green")
                            {<span>Done : @item.ActualSEWINGTRIM</span> }
else
{ <span>Pending</span>}
                        </span>
                        <span style="white-space: pre-line">By  : @item.UsrDSEWINGTRIM</span>
                    </div>

                </td>


                <td>


                  

                    <div style="background-color:@item.status_BULKFABRIC">
                        <span style="white-space: pre-line">Plan  : @item.BULKFABRIC</span>
                        <span style="white-space: pre-line">
                            Status  : @if (item.status_BULKFABRIC == "Green")
                            {<span>Done : @item.ActualBULKFABRIC</span> }
else
{ <span>Pending</span>}
                        </span>
                        <span style="white-space: pre-line">By  : @item.UsrDBULKFABRIC</span>
                    </div>
                </td>


                <td>




                    <div style="background-color:@item.status_RECEIPTOFORGINALDOCUMENT">
                        <span style="white-space: pre-line">Plan  : @item.RECEIPTOFORGINALDOCUMENT</span>
                        <span style="white-space: pre-line">
                            Status  : @if (item.status_RECEIPTOFORGINALDOCUMENT == "Green")
                            {<span>Done : @item.ActualRECEIPTOFORGINALDOCUMENT</span> }

else
{ <span>Pending</span>}
                        </span>
                        <span style="white-space: pre-line">By  : @item.UsrDRECEIPTOFORGINALDOCUMENT</span>
                    </div>

                </td>


                <td>





                    <div style="background-color:@item.status_GRADDEDPATTERN">
                        <span style="white-space: pre-line">Plan  : @item.GRADDEDPATTERN</span>
                        <span style="white-space: pre-line">
                            Status  : @if (item.status_GRADDEDPATTERN == "Green")
                            {<span>Done : @item.ActualGRADDEDPATTERN</span> }
else
{ <span>Pending</span>}
                        </span>
                        <span style="white-space: pre-line">By  : @item.UsrDGRADDEDPATTERN</span>
                    </div>


                </td>


                <td>




                    <div style="background-color:@item.status_SAMPLEYARDAGES">
                        <span style="white-space: pre-line">Plan  : @item.SAMPLEYARDAGES</span>
                        <span style="white-space: pre-line">
                            Status  : @if (item.status_SAMPLEYARDAGES == "Green")
                            {<span>Done : @item.ActualSAMPLEYARDAGES</span> }
else
{ <span>Pending</span>}
                        </span>
                        <span style="white-space: pre-line">By  : @item.UsrDSAMPLEYARDAGES</span>
                    </div>
                </td>


                <td>




                    <div style="background-color:@item.status_PPAPPROVAL">
                        <span style="white-space: pre-line">Plan  : @item.PPAPPROVAL</span>
                        <span style="white-space: pre-line">
                            Status  : @if (item.status_PPAPPROVAL == "Green")
                            {<span>Done : @item.ActualPPAPPROVAL</span> }
else
{ <span>Pending</span>}
                        </span>
                        <span style="white-space: pre-line">By  : @item.UsrDPPAPPROVAL</span>
                    </div>

                </td>


                <td>




                    <div style="background-color:@item.status_PPSUBMISSIONDATEMERCHANT">
                        <span style="white-space: pre-line">Plan  : @item.PPSUBMISSIONDATEMERCHANT</span>
                        <span style="white-space: pre-line">
                            Status  : @if (item.status_PPSUBMISSIONDATEMERCHANT == "Green")
                            {<span>Done : @item.ActualPPSUBMISSIONDATEMERCHANT</span> }
else
{ <span>Pending</span>}
                        </span>
                        <span style="white-space: pre-line">By  : @item.UsrDPPSUBMISSIONDATEMERCHANT</span>
                    </div>

                </td>






                <td>




                    <div style="background-color:@item.status_INPUT">
                        <span style="white-space: pre-line">Plan  : @item.INPUT</span>
                        <span style="white-space: pre-line">
                            Status  : @if (item.status_INPUT == "Green")
                            {<span>Done : @item.ActualINPUT</span> }
else
{ <span>Pending</span>}
                        </span>
                        <span style="white-space: pre-line">By  : @item.UsrDINPUT</span>
                    </div>

                </td>

                <td>




                    <div style="background-color:@item.status_PACKINGTRIMS">
                        <span style="white-space: pre-line">Plan  : @item.PACKINGTRIMS</span>
                        <span style="white-space: pre-line">
                            Status  : @if (item.status_PACKINGTRIMS == "Green" )
    {<span>Done : @item.ActualPACKINGTRIMS</span> }
else
{ <span>Pending</span>}
                        </span>
                        <span style="white-space: pre-line">By  : @item.UsrDPACKINGTRIMS</span>
                    </div>

                </td>




                @*<td>

            <div class="container">

                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"> PP SUBMISSION DATE</h3>
                        </div>
                        <div class="panel-body"> <div>Plan : @item.PPSUBMISSIONDATEMERCHANT </div><div>Actual  : </div></div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">PP APPROVAL</h3>
                        </div>
                        <div class="panel-body">
                            <div>Plan : @item.PPAPPROVAL </div><div>Actual  : </div>

                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">SAMPLE YARDAGES</h3>
                        </div>
                        <div class="panel-body">
                            <div>Plan : @item.SAMPLEYARDAGES </div><div>Actual  : </div>

                        </div>
                    </div>



                </div>

                <div class="col-md-3">

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">GRADDED PATTERN</h3>
                        </div>
                        <div class="panel-body">
                            <div>Plan : @item.GRADDEDPATTERN </div><div>Actual  : </div>

                        </div>
                    </div>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">SEWING TRIM</h3>
                        </div>
                        <div class="panel-body">
                            <div>Plan : @item.SEWINGTRIM </div><div>Actual  : </div>

                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">SEWING SET</h3>
                        </div>
                        <div class="panel-body">
                            <div>Plan : @item.SIZESET </div><div>Actual  : </div>

                        </div>
                    </div>
                </div>



                <div class="col-md-3">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">SIZE SET</h3>
                        </div>
                        <div class="panel-body">
                            <div>Plan : @item.SIZESET </div><div>Actual  : </div>

                        </div>
                    </div>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">PP MEETING</h3>
                        </div>
                        <div class="panel-body">
                            <div>Plan : @item.PPMEETING </div><div>Actual  : </div>

                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">FC1</h3>
                        </div>
                        <div class="panel-body">
                            <div>Plan : @item.FC1 </div><div>Actual  : </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Final Marker</h3>
                        </div>
                        <div class="panel-body">
                            <div>Plan : @item.FINALMARKER </div><div>Actual  : </div>

                        </div>
                    </div>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Input</h3>
                        </div>
                        <div class="panel-body">
                            <div>Plan : @item.INPUT </div><div>Actual  : </div>

                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Packing trim</h3>
                        </div>
                        <div class="panel-body">
                            <div>Plan : @item.PACKINGTRIMS </div><div>Actual  : </div>

                        </div>
                    </div>
                </div>

            </div>












        </td>*@
                @*<td>

        </td>*@
                @*<td>
            @Html.DisplayFor(modelItem => item.GradedPatternDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BulkFabricDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SewingTrimDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeSetDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PPMeetingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FC1Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalMarkerDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FactoryPlannedPCDDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MerchandisingPCDDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InputDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackingTrimDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OurStyle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>*@

            </tr>
            }


        </tbody>


    </table>






}

