@model IEnumerable<ArtWebApp.DataModels.DeviceMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table MyDataTable mydatagrid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MacID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OSRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceType1.DeviceTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationMaster.LocationName)
            </th>
            <th></th>
        </tr>
    </thead>
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MacID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OSRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceType1.DeviceTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationMaster.LocationName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NodeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NodeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NodeID })
        </td>
    </tr>
}

</table>
