@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<style>

    .chosen-container.chosen-container-single {
        width: 300px !important; /* or any value that fits your needs */
    }
</style>
<script>

</script>
<script>


    $(document).ready(function () {




        $("#Show").click(function (e, params) {

            var Id = $('#AtcID').find('option:selected').val();
            $('#loadingmessage').show();
            $.ajax({
                url: "@Url.Action("GetFCRStatus", "FCR")",
                traditional: true,
                type: "GET",
                data: { 'Id': Id },
                success: function (fooBarHTML) {


                    $('#loadingmessage').hide();
                    $("#output").html(fooBarHTML);
                },
                error: function (xhr, status, errorThrown) {
                    $('#loadingmessage').hide();
                }
            });


               $.ajax({
                url: "@Url.Action("GetFCRAtcStatus", "FCR")",
                traditional: true,
                type: "GET",
                data: { 'Id': Id },
                success: function (fooBarHTML) {


                    $('#loadingmessage').hide();
                    $("#output1").html(fooBarHTML);
                },
                error: function (xhr, status, errorThrown) {
                    $('#loadingmessage').hide();
                }
            });






        });




        $("#Show_FCRSummary").click(function (e, params) {

            var Id = $('#AtcID').find('option:selected').val();
            var Locid = $('#Locid').find('option:selected').val();
            
               $("#output").empty();
               $("#output1").empty();
               alert('hi')
            $('#loadingmessage').show();
            $.ajax({
                url: "@Url.Action("GetFCRSummary", "FCR")",
                traditional: true,
                type: "GET",
                data: { 'Id': Id, 'Locid': Locid },
                success: function (fooBarHTML) {


                    $('#loadingmessage').hide();
                    $("#Summarydiv").html(fooBarHTML);
                },
                error: function (xhr, status, errorThrown) {
                    $('#loadingmessage').hide();
                }
            });







        });
    });

</script>
<div class="container">

    <div class="container-fluid jumbotron">
        <div class="row top-buffer">
            <div class="col-md-2">Atc #:</div>
            <div class="col-md-6">  @Html.DropDownList("AtcID", null, htmlAttributes: new { @style = "width: 250px;", @class = "chosen-select form-control" })</div>
            <div class="col-md-4">
                <input id="Show" type="button" value="Get FCR Status of  Atc" data-toggle="tooltip" data-placement="top" title="Get Costing data of  Atc" class="btn btn-default show" />
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-2">
                Factory :
            </div>
            <div class="col-md-6">  @Html.DropDownList("Locid", null, htmlAttributes: new { @style = "width: 250px;", @class = "chosen-select form-control" })</div>

            <div class="col-sm-4">
                <input id="Show_FCRSummary" type="button" value="Get FCR Summary" data-toggle="tooltip" data-placement="top" title="Get Summary data of  Atc" class="btn btn-default show" />
            </div>
            

        </div>
    </div>


</div>
<div id='loadingmessage' style='display:none'>
    <img src='~/Image/ajax-loader.gif' />
</div>


<div id="tabs">
    <ul>
        <li><a href="#tabs-1">StyleWise FCR</a></li>
        <li><a href="#tabs-2">AtcWise FCR</a></li>

    </ul>
    <div id="tabs-1">
        <p>
            <div id='output' class="">
                <!-- Output goes here -->
            </div>


        </p>
    </div>
    <div id="tabs-2">
        <p>
            <div id='output1' class="">
                <!-- Output goes here -->
            </div>
        </p>
    </div>

</div>

<div id="Summarydiv"> </div>








