@model ArtWebApp.DataModels.FreightRequestMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FreightRequestMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FreightRequestNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreightRequestNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromParty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromParty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToParty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToParty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentofPackage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentofPackage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DebitTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DebitTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Merchandiser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Merchandiser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForwarderDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForwarderDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApproximateCharges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApproximateCharges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPosted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FreightRequestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
