@model ArtWebApp.Areas.Inventory.ViewModel.AllocateRack
@using System.Data;

<script src="~/Plugin/MyDataTable.js"></script>


<h2>Fabric Details</h2>

<div id="printfcr">
    <table id="Dataentry" class="table table-striped table-bordered MyDataTable Dataentry" cellspacing="0" width="100" style="border-color:black">
        <thead>
            <tr style="border-color:black">
                <th>@Html.CheckBox("SelectAll")</th>
                <th>MRNNum</th>
                <th>InventoryItem_PK</th>
                <th>AtcNum</th>
                <th>RMNum</th>
                <th>Description</th>
                <th>ItemColor</th>
                <th>ItemSize</th>
                <th>SupplierSize</th>
                <th>SupplierColor</th>
                <th>ReceivedQty</th>
                <th>Rack_PK</th>
            </tr>
        </thead>

        <tbody>
            @foreach (DataRow row in Model.GetMrnlist.Rows)
            {
            <tr class="FabricTableRow" style="border-color:black">
                <td class="IsSelected">@Html.CheckBox("IsSelected")</td>
                <td class="MrnNum">@row["MrnNum"]</td>
                <td class="InventoryItem_PK">@row["InventoryItem_PK"]</td>
                <td class="AtcNum">@row["AtcNum"]</td>
                <td class="RMNum">@row["RMNum"]</td>
                <td class="Description">@row["Description"]</td>
                <td class="ItemColor">@row["ItemColor"]</td>
                <td class="ItemSize">@row["ItemSize"]</td>
                <td class="SupplierSize">@row["SupplierSize"]</td>
                <td class="SupplierColor">@row["SupplierColor"]</td>
                <td class="ReceivedQty">@row["ReceivedQty"]</td>
                <td class="Rack_PK">@row["Rack_PK"]</td>

            </tr>

            }
        </tbody>

    </table>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input id="Submit" type="button" value="Submit" class="btn btn-default show" />
    </div>
</div>
<script>
    $(document).ready(function () {

        $('.Dataentry').DataTable();


        $('#Submit').click(function (e, params) {
            $('.Dataentry tr.FabricTableRow').each(function (i, row) {
                $(this).find('td input:checked').each(function () {
                    var $tr = $(this).closest('tr');
                    var InventoryItem_PK = parseFloat($tr.find('.InventoryItem_PK').val());                    
                    var Rack_PK = parseFloat($tr.find('.Rack_PK').val());                    
                    var Approvedata = {
                        ID: InventoryItem_PK, Rack_PK: Rack_PK
                    }
                    things.push(Approvedata);

                });
            });
            $.ajax({
                contentType: "application/json; charset=utf-8",
                type: "Post",
                url: "@Url.Action("ApproveRequest", "CMLock")",
                data: JSON.stringify(things),
                contentType: 'application/json',

                success: function (data) {
                    if (data.ok) {
                        newloc = data.newurl;
                    }

                    else {
                        window.alert(data.message);
                    }


                },
                error: function (xhr, status, errorThrown) {
                    //...
                }
            });
            alert("Allocation Done");

        });

    });

    $('#SelectAll').change(function () {
        if (this.checked) {
            var parenttable = $(this).closest('table');
            parenttable.children('tbody,tr,td').css('background-color', '#8AE1E9');
            $("[id$=IsSelected]").prop('checked', true);

        } else {
            if ($('[id$=IsSelected]:checked').length == $('[id$=IsSelected]').length) {
                $("[id$=IsSelected]").prop('checked', false);
            }
            parenttable.children('tbody,tr,td').css('background-color', '#F5F5F7');
        }
    });
    $("[id$=IsSelected]").change(function () {
        if (this.checked) {
            $(this).closest('tr').children('td,th').css('background-color', '#8AE1E9');
        }
        else {
            $(this).closest('tr').children('td,th').css('background-color', '#F5F5F7');
        }
    });
</script>
