@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<style>

    .chosen-container.chosen-container-single {
        width: 300px !important; /* or any value that fits your needs */
    }
</style>

<script>


        $(document).ready(function () {




            $("#GetGtockreportOnhanld").click(function (e, params) {

                var location_pk = 0;
                $('#loadingmessage').show();
                    $.ajax({
                        url: "@Url.Action("GetGstockData", "RollTracker")",
                        traditional: true,
                        type: "GET",
                        data: { 'location_pk': location_pk },
                        success: function (fooBarHTML) {
                            $('#loadingmessage').hide();
                            document.title = "Gstock Onhand Report";
                           

                        $("#output").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                        });

            });
          


               $("#RollAllocation").click(function (e, params) {
                   $('#loadingmessage').show();

                   var Id = $('#AtcID').find('option:selected').val();
                    $.ajax({
                        url: "@Url.Action("GetRollYardLocation", "RollTracker")",
                        traditional: true,
                        type: "GET",
                        data: { 'AtcID': Id },
                        success: function (fooBarHTML) {
                            $('#loadingmessage').hide();
                        $("#output").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                        });

            });









            $("#PoofSupplier").click(function (e, params) {
                $('#loadingmessage').show();
                    $.ajax({
                        url: "@Url.Action("GetPurchasesfromSupplier", "RollTracker")",
                        traditional: true,
                        type: "GET",
                        success: function (fooBarHTML) {
                            $('#loadingmessage').hide();
                        $("#output").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                        });
                        });


           


             



     $("#InventoryOrderWF").click(function (e, params) {
                $('#loadingmessage').show();
                var fromdate = $("#locFromDate").val();
                var todate = $("#locTodate").val();
                var dotype = "WF";
                var Id = $('#Location_pk').find('option:selected').val();
                    $.ajax({
                        url: "@Url.Action("GetInventoryBetweenDate", "RollTracker")",
                        traditional: true,
                        type: "GET",
                        data: { 'fromdate': fromdate, 'todate': todate, 'Id': Id},
                        success: function (fooBarHTML) {
                            alert("Hi");
                            $('#loadingmessage').hide();
                        $("#output").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                        });
                        });

             $("#RoReport").click(function (e, params) {
                var Id = 0;
                $('#loadingmessage').show();
                    $.ajax({
                        url: "@Url.Action("GetRoReport", "RollTracker")",
                        traditional: true,
                        type: "GET",
                      //  data: { 'Id': Id },
                        success: function (fooBarHTML) {
                            $('#loadingmessage').hide();
                        $("#output").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                        });

                        });


             $("#StockRoReport").click(function (e, params) {
                var Id = 0;
                $('#loadingmessage').show();
                    $.ajax({
                        url: "@Url.Action("GetStockRoReport", "RollTracker")",
                        traditional: true,
                        type: "GET",
                      //  data: { 'Id': Id },
                        success: function (fooBarHTML) {
                            $('#loadingmessage').hide();
                        $("#output").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                        });

                        });







                $("#DeliveryOrderWF").click(function (e, params) {
                $('#loadingmessage').show();
                var fromdate = $("#FromDate").val();
                var todate = $("#Todate").val();
                var dotype = "WF";

                    $.ajax({
                        url: "@Url.Action("GetDoBetweenDate", "RollTracker")",
                        traditional: true,
                        type: "GET",
                        data: { 'fromdate': fromdate, 'todate': todate, 'dotype': dotype},
                        success: function (fooBarHTML) {
                            $('#loadingmessage').hide();
                        $("#output").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                        });
                        });


                $("#SKUTrack").click(function (e, params) {
                $('#loadingmessage').show();
                var id = $("#srch-term").val();
                var supplierdock_pk = 0;
                var Skudetpk = id;
                var RollPk = 0;
                var cutplanPk = 0;
                var docnum = 'NA';
                    $.ajax({
                        url: "@Url.Action("GetRollTracker", "RollTracker")",
                        traditional: true,
                        type: "GET",
                        data: { 'supplierdock_pk': supplierdock_pk, 'Skudetpk': Skudetpk, 'RollPk': RollPk, 'cutplanPk': cutplanPk, 'Docnum': docnum },
                        success: function (fooBarHTML) {
                            $('#loadingmessage').hide();
                        $("#output").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                        });
                        });


                $("#ASNTrack").click(function (e, params) {
                $('#loadingmessage').show();
                var id = $("#srch-term").val();
                var supplierdock_pk = id;
                var Skudetpk = 0;
                var RollPk = 0;
                var cutplanPk = 0;
                var docnum = 'NA';

                    $.ajax({
                        url: "@Url.Action("GetRollTracker", "RollTracker")",
                        traditional: true,
                        type: "GET",
                        data: { 'supplierdock_pk': supplierdock_pk, 'Skudetpk': Skudetpk, 'RollPk': RollPk, 'cutplanPk': cutplanPk, 'Docnum': docnum },
                        success: function (fooBarHTML) {
                            $('#loadingmessage').hide();
                        $("#output").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                        });
                        });


                $("#RollPKTrack").click(function (e, params) {
                $('#loadingmessage').show();
                var id = $("#srch-term").val();
                var supplierdock_pk = 0;
                var Skudetpk = 0;
                var RollPk = id;
                var docnum = 'NA';
                var cutplanPk = 0;
                    $.ajax({
                        url: "@Url.Action("GetRollTracker", "RollTracker")",
                        traditional: true,
                        type: "GET",
                        data: { 'supplierdock_pk': supplierdock_pk, 'Skudetpk': Skudetpk, 'RollPk': RollPk, 'cutplanPk': cutplanPk, 'Docnum': docnum },
                        success: function (fooBarHTML) {
                            $('#loadingmessage').hide();
                        $("#output").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                        });
                });


                $("#CutplanPKTrack").click(function (e, params) {
                $('#loadingmessage').show();
                var id = $("#srch-term").val();
                var supplierdock_pk = 0;
                var Skudetpk = 0;
                var RollPk = 0;
                var docnum = 'NA';
                var cutplanPk = id;
                    $.ajax({
                        url: "@Url.Action("GetRollTracker", "RollTracker")",
                        traditional: true,
                        type: "GET",
                        data: { 'supplierdock_pk': supplierdock_pk, 'Skudetpk': Skudetpk, 'RollPk': RollPk, 'cutplanPk': cutplanPk, 'Docnum': docnum},
                        success: function (fooBarHTML) {
                            $('#loadingmessage').hide();
                        $("#output").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                        });
                });
                $("#Doctrack").click(function (e, params) {
                $('#loadingmessage').show();
                var id = $("#srch-term").val();
                var supplierdock_pk = 0;
                var Skudetpk = 0;
                var RollPk = 0;
                var docnum = id;
                var cutplanPk = 0;
                    $.ajax({
                        url: "@Url.Action("GetRollTracker", "RollTracker")",
                        traditional: true,
                        type: "GET",
                        data: { 'supplierdock_pk': supplierdock_pk, 'Skudetpk': Skudetpk, 'RollPk': RollPk, 'cutplanPk': cutplanPk, 'Docnum': docnum},
                        success: function (fooBarHTML) {
                            $('#loadingmessage').hide();
                        $("#output").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                        });
                });

               $("#Critical").click(function (e, params) {
            $('#loadingmessage').show();
            var Id = $('#AtcID').find('option:selected').val();
                $.ajax({
                    url: "@Url.Action("GetCriticalAtc", "RollTracker")",
                    traditional: true,
                    type: "GET",
                    data: { 'Id': Id },
                    success: function (fooBarHTML) {
                        $('#loadingmessage').hide();
                    $("#output").html(fooBarHTML);
                    },
                    error: function (xhr, status, errorThrown) {
                        $('#loadingmessage').hide();
                    }
                    });
                    });


        });





</script>
<h2>Report Engine</h2>





<button data-toggle="collapse" class="btn btn-info" data-target="#demo">Atc Reports</button>

<div id="demo" class="container collapse">
    <div class="container-fluid jumbotron">
        <div class="row top-buffer">
            <div class="col-md-2">Atc #:</div>
            <div class="col-md-10">  @Html.DropDownList("AtcID", null, htmlAttributes: new { @style = "width: 250px;", @class = "chosen-select form-control" })</div>

        </div>
        <div class="row top-buffer">
            <div class="col-sm-3">
                <input id="Critical" type="button" value="Get Critical Path Report of  Atc" data-toggle="tooltip" data-placement="top" title="Get Costing data of  Atc" class="btn btn-default show" />

            </div>
            <div class="col-sm-3">
                       </div>
            <div class="col-sm-3">
                <input id="RollAllocation" type="button" value="Get RollYard Location " data-toggle="tooltip" data-placement="top" title="Get Roll allocation of Yardage" class="btn btn-default show" />


            </div>
            <div class="col-sm-3">
             
            </div>

        </div>

        <div class="row top-buffer">
            <div class="col-sm-3">

              
            </div>
            <div class="col-sm-3">
              
            </div>
            <div class="col-sm-3">


            </div>
            <div class="col-sm-3">

            </div>

        </div>

    </div>
</div>

<button data-toggle="collapse" class="btn btn-info" data-target="#demo1">All Atc Reports</button>

<div id="demo1" class="container collapse">
    <div class="container-fluid jumbotron">

        <div class="row top-buffer" style="background-color:greenyellow;">
            <div class="col-sm-3">
                <input id="GetGtockreportOnhanld" type="button" value="Get Gstock Report(onhand)" data-toggle="tooltip" data-placement="top" title="Get Gstock" class="btn btn-default show" />

            </div>
            <div class="col-sm-3">
                 </div>
            <div class="col-sm-3">
                <input id="PoofSupplier" type="button" value="Get Po of Supplier" data-toggle="tooltip" data-placement="top" title="Get Po of Supplier" class="btn btn-default show" />
            </div>
            <div class="col-sm-3">
                <input id="StockRoReport" type="button" value="Get STOCKRO Summary  " data-toggle="tooltip" data-placement="top" title="Get STOCKRO Report" class="btn btn-default show" />

            </div>

        </div>

        <div class="row top-buffer" style="background-color:greenyellow;">
            <div class="col-sm-3">
                <input id="RoReport" type="button" value="Get RO Summary " data-toggle="tooltip" data-placement="top" title="Get RO Report" class="btn btn-default show" />

            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>

        </div>
    </div>
</div>

<button data-toggle="collapse" class="btn btn-info" data-target="#demo2">Between Date Reports</button>

<div id="demo2" class="container collapse">
    <div class="container-fluid jumbotron">

        <div class="row top-buffer">
            <div class="col-sm-2">
                From Date :

            </div>
            <div class="col-sm-3">
                @Html.TextBox("FromDate", null, htmlAttributes: new { @style = "width: 250px;", @class = "datepicker form-control" })
            </div>
            <div class="col-sm-2">
                To date
            </div>
            <div class="col-sm-3">
                @Html.TextBox("Todate", null, htmlAttributes: new { @style = "width: 250px;", @class = "datepicker form-control" })
            </div>
            <div class="col-sm-2">
                To date
            </div>

        </div>

        <div class="row top-buffer" style="background-color:greenyellow;">
            <div class="col-sm-3">
                <input id="DeliveryOrderWF" type="button" value="Show WF Report of Bewtween Date" data-toggle="tooltip" data-placement="top" title="Shows BE Report of Running Atc" class="btn btn-default show" />

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">
            </div>

        </div>
    </div>
</div>


<button data-toggle="collapse" class="btn btn-info" data-target="#demo5">Between Date Inventory Reports of Location </button>

<div id="demo5" class="container collapse">
    <div class="container-fluid jumbotron">

        <div class="row top-buffer">
            <div class="col-sm-2">
                Location :

            </div>
            <div class="col-sm-3">
                @Html.DropDownList("Location_pk", null, htmlAttributes: new { @style = "width: 250px;", @class = "chosen-select form-control" })
            </div>

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-2">

        </div>

    </div>


    <div class="row top-buffer">
        <div class="col-sm-2">
            From Date :

        </div>
        <div class="col-sm-3">
            @Html.TextBox("locFromDate", null, htmlAttributes: new { @style = "width: 250px;", @class = "datepicker form-control" })
        </div>
        <div class="col-sm-2">
            To date
        </div>
        <div class="col-sm-3">
            @Html.TextBox("locTodate", null, htmlAttributes: new { @style = "width: 250px;", @class = "datepicker form-control" })
        </div>
        <div class="col-sm-2">
            To date
        </div>

    </div>

    <div class="row top-buffer" style="background-color:greenyellow;">
        <div class="col-sm-3">
            <input id="InventoryOrderWF" type="button" value="Show Inventory Report of Bewtween Date" data-toggle="tooltip" data-placement="top" title="Shows BE Report of Running Atc" class="btn btn-default show" />

        </div>
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3">
        </div>

    </div>
</div>








<button data-toggle="collapse" class="btn btn-info" data-target="#demo3">Month Report</button>

<div id="demo3" class="container collapse">
    <div class="container-fluid jumbotron">

        <div class="row top-buffer">
            <div class="col-sm-2">
                Month :

            </div>
            <div class="col-sm-3">

                @Html.DropDownList("Month", (List<SelectListItem>)ViewBag.MonthList, htmlAttributes: new { @class = "chosen-select form-control" })

            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-2">

            </div>

        </div>

        <div class="row top-buffer" style="background-color:greenyellow;">
            <div class="col-sm-3">
                <input id="ShowMonth" type="button" value="Show BE Report of Month" data-toggle="tooltip" data-placement="top" title="Show BE Report of Month" class="btn btn-default show" />

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">
            </div>

        </div>
    </div>
</div>


<button data-toggle="collapse" class="btn btn-info" data-target="#demo4">Roll  Tracker</button>

<div id="demo4" class="container collapse">
    <div class="container-fluid jumbotron">

        <div class="row top-buffer">

            <div class="col-sm-5">

                <form class="navbar-form">
                    <div class="input-group add-on">
                        <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                        <div class="input-group-btn">
                            <button class="btn btn-default" id="Show" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-2">

            </div>

        </div>

        <div class="row top-buffer" style="background-color:greenyellow;">
            <div class="col-sm-3">
                <input id="SKUTrack" type="button" value="I Entered SKU" data-toggle="tooltip" data-placement="top" title="Show Roll History of SKU" class="btn btn-default show" />

            </div>
            <div class="col-sm-3">
                <input id="ASNTrack" type="button" value="I Entered ASN" data-toggle="tooltip" data-placement="top" title="Show Roll History of ASN" class="btn btn-default show" />
            </div>
            <div class="col-sm-3">
                <input id="RollPKTrack" type="button" value="I Entered Roll PK" data-toggle="tooltip" data-placement="top" title="Show Roll  History of RollPK" class="btn btn-default show" />
            </div>
            <div class="col-sm-3">
                <input id="CutplanPKTrack" type="button" value="I Entered CutPlan PK" data-toggle="tooltip" data-placement="top" title="Show Roll  History of CutPlan" class="btn btn-default show" />

            </div>

        </div>


        <div class="row top-buffer" style="background-color:greenyellow;">
            <div class="col-sm-3">
                <input id="Doctrack" type="button" value="I Entered Docnum" data-toggle="tooltip" data-placement="top" title="Show Roll History of Docnum" class="btn btn-default show" />

            </div>


        </div>
    </div>
</div>





<div id='loadingmessage' style='display:none'>
    <img src='~/Image/ajax-loader.gif' />
</div>
<div id='output' class="">
    <!-- Output goes here -->
</div>

