
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Cut Plan ASQ Shuffle</h2>

<script type="text/javascript">

    $(document).ready(function () {


        $("#AtcID").change(function () {

            debugger
            var Id = $(this).find('option:selected').val();


            $.ajax({
                url: "@Url.Action("PopulateOurStyle", "LayShortage")",
                type: 'Get',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                //  data: JSON.stringify(123),
                data: { 'Id': Id },
                success: function (data) {
                    $('#OurStyleID').empty();
                    $.each(data, function () {


                        $('#OurStyleID').append('<option value=' +
                            this.Value + '>' + this.Text + '</option>');
                    });
                    $("#OurStyleID").trigger("chosen:updated");


                    $("#OurStyleID").trigger("change");


                },
                error: function (data) {

                }
            });

        });


        $("#OurStyleID").change(function () {

            debugger
            var Id = $(this).find('option:selected').val();


            $.ajax({
                url: "@Url.Action("PopulateCutPlan", "CutPlanEdit")",
                type: 'Get',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                //  data: JSON.stringify(123),
                data: { 'Id': Id },
                success: function (data) {
                    $('#CutPlanPK').empty();
                    $.each(data, function () {


                        $('#CutPlanPK').append('<option value=' +
                            this.Value + '>' + this.Text + '</option>');
                    });
                    $("#CutPlanPK").trigger("chosen:updated");


                    $("#CutPlanPK").trigger("change");


                },
                error: function (data) {

                }
            });

        });


        $("#CutPlanPK").change(function (e, params) {

            debugger;
            var SelectedOurStyle = new Array();

            var Id = $('#CutPlanPK').find('option:selected').val();

            if (SelectedOurStyle != null)
            {

                //Populate arrayOfValues
                $.ajax({
                    url: "@Url.Action("PopulateCutOrderofStyle", "CutPlanASQShuffle")",
                    type: "Get",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                traditional: true,
                data: { 'Id': Id },
                success: function (data) {
                    $('#POPACKID').empty()
                    $.each(data, function () {


                        $('#POPACKID').append('<option value=' +
                          this.Value + '>' + this.Text + '</option>');
                    });
                    $("#POPACKID").trigger("chosen:updated");


                    $("#Cutid").trigger("change");


                },
                error: function (data) {

                }
            });
        }


        });

         $("#Show").click(function (e, params) {

            debugger;
            var SelectedOurStyle = new Array();
            SelectedOurStyle = $("#POPACKID").chosen().val();
            var Id = $('#CutPlanPK').find('option:selected').val();
            if (SelectedOurStyle != null)
            {


                $.ajax({
                    url: "@Url.Action("CutplanAsqShuffle", "CutPlanASQShuffle")",
                    traditional: true,
                    data: { 'SelectedOurStyle': SelectedOurStyle, 'Id': Id },
                    type: "Get",
                    success: function (fooBarHTML) {
                        $("#output").html(fooBarHTML);
                    },
                    error: function (xhr, status, errorThrown) {
                        //...
                    }
                });







         }


        });

    });

</script>







@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SampCutReqMaster</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">


            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.Label("Atcc#", new { @class = "control-label col-md-2" });
                    </div>
                    <div class="col-md-10">

                        @Html.DropDownList("AtcID", null, htmlAttributes: new { @class = "chosen-select form-control" })


                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        @Html.Label("OurStyle#", new { @class = "control-label col-md-2" });
                    </div>
                    <div class="col-md-10">

                        @Html.DropDownList("OurStyleID", new SelectList(string.Empty, "Value", "Text"), null, htmlAttributes: new { @class = "chosen-select form-control", })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        @Html.Label("CutPlan#", new { @class = "control-label col-md-2" });
                    </div>
                    <div class="col-md-10">

                        @Html.DropDownList("CutPlanPK", new SelectList(string.Empty, "Value", "Text"), null, htmlAttributes: new { @class = "chosen-select form-control", })
                    </div>
                </div>

            </div>

            <div class="form-group">


                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("ASQ#", new { @class = "control-label col-md-2" });
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("POPACKID", new MultiSelectList(string.Empty, "Value", "Text"), null, htmlAttributes: new { @class = "chosen-select form-control", @multiple = "multiple" })

                    </div>

                </div>



            </div>

        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="Show" type="button" value="Show" class="btn btn-default show" />
            </div>
        </div>








        <div id='output' class="">
            <!-- Output goes here -->
        </div>


    </div>
}



