@model IEnumerable<ArtWebApp.DataModels.PatternNameBank>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table MyDataTable table-bordered table-condensed table-responsive table-hover"   >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shrinkage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatternName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferncePatternName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtcDetail.OurStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationMaster.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkuRawmaterialDetail.ColorCode)
            </th>
            <th></th>
        </tr>
        <tr class="filterrow">
            <th>
               
            </th>
            <th>
             
            </th>
            <th>
               
            </th>
            <th>
              
            </th>
            <th>
               
            </th>
            <th>
               
            </th>
            <th>
               
            </th>
            <th>
               
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Shrinkage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatternName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferncePatternName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AtcDetail.OurStyle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationMaster.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkuRawmaterialDetail.ColorCode)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.PatternID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.PatternID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.PatternID })*@
                </td>
            </tr>
        }
    </tbody>
</table>
