@model ArtWebApp.DataModels.LabRequestMaster
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.LabRequestID)
    <div class="form-group">
        @Html.LabelFor(model => model.LabRequestNum, "Freight Request#", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => Model.LabRequestNum)
        </div>
        @Html.LabelFor(model => model.Supplier_pk, "From Party", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => Model.SupplierMaster.Supplier_PK)
        </div>
    </div>
 

    <div class="form-group">
        @Html.LabelFor(model => model.Merchandiser, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => Model.Merchandiser)
        </div>
        @Html.LabelFor(model => model.Reason, "Reason", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => Model.Reason)


        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.ApproximateCharges, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => Model.ApproximateCharges)
        </div>
        @Html.LabelFor(model => model.Remark, "Remark", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">

            @Html.DisplayFor(modelItem => Model.Remark)


        </div>
    </div>





    <div class="form-group">
        @Html.LabelFor(model => model.ApprovedBy, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => Model.ApprovedBy)
        </div>
        @Html.LabelFor(model => model.ApprovedDate, "ApprovedDate", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => Model.ApprovedDate)


        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IsApproved, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => Model.IsApproved)
        </div>
        @Html.LabelFor(model => model.IsPosted, "IsPosted", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">

            @Html.DisplayFor(modelItem => Model.IsPosted)


        </div>
    </div>




    <div class="form-group">
        @Html.LabelFor(model => model.AddedBy, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => Model.AddedBy)
        </div>
        @Html.LabelFor(model => model.AddedDate, "AddedDate", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">

            @Html.DisplayFor(modelItem => Model.AddedDate)


        </div>
    </div>

    <div class="form-group">
        <table class="table table-responsive table-bordered">
            <tr>
                <th>
                    Atc
                </th>
                <th>
                    FreightCharge
                </th>
                <th>
                    Remark
                </th>
                <th></th>
            </tr>
            @{  Decimal total = 0;
                foreach (var item in Model.LabChargeDetails)
                {

                    total = total + Decimal.Parse(item.LabCharge.ToString());
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AtcMaster.AtcNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LabCharge)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remark)
                        </td>
                        <td></td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td>
                        Total :  @total
                    </td>
                    <td></td>
                    <td></td>
                </tr>

            }


        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LabRequestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


