@model IEnumerable<ArtWebApp.DataModels.LabRequestMaster>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table MyDataTable table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LabRequestNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierMaster.SupplierName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Merchandiser)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ApproximateCharges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPosted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LabRequestNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierMaster.SupplierName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Merchandiser)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ApproximateCharges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPosted)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LabRequestID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LabRequestID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LabRequestID })
                </td>
            </tr>
        }
    </tbody>
</table>
