@model ArtWebApp.DataModels.SubConExtraRequest

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubConExtraRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtcMaster.AtcNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtcMaster.AtcNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CutOrderMaster.Cut_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CutOrderMaster.Cut_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraRequestReasonMaster.ExtraReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraRequestReasonMaster.ExtraReason)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExtraRequestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
