@model ArtWebApp.DataModels.MrnFileUpload

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MrnFileUpload</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mrn_PK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mrn_PK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StringLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StringLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MrnType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MrnType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FileUploadID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
