@model IEnumerable<ArtWebApp.DataModels.ItemGroupMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemGroupDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemGroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemGroupDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemGroupID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemGroupID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemGroupID })
        </td>
    </tr>
}

</table>
