@model IEnumerable<ArtWebApp.DataModels.ProductionTNA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PPSumbissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PPApprovalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SampleYardagesDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradedPatternDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BulkFabricDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SewingTrimDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeSetDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PPMeetingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FC1Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalMarkerDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FactoryPlannedPCDDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MerchandisingPCDDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InputDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackingTrimDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AtcDetail.OurStyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationMaster.LocationName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PPSumbissionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PPApprovalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SampleYardagesDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradedPatternDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BulkFabricDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SewingTrimDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeSetDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PPMeetingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FC1Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalMarkerDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FactoryPlannedPCDDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MerchandisingPCDDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InputDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackingTrimDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AtcDetail.OurStyle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationMaster.LocationName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductionTNID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductionTNID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductionTNID })
        </td>
    </tr>
}

</table>
