@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<script type="text/javascript">

    $(document).ready(function () {


        $("#AtcID").change(function () {

            debugger
            var Id = $(this).find('option:selected').val();


            $.ajax({
                url: "@Url.Action("PopulateOurStyle", "LayShortage")",
                type: 'Get',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                //  data: JSON.stringify(123),
                data: { 'Id': Id },
                success: function (data) {
                    $('#OurStyleID').empty();
                    $.each(data, function () {


                        $('#OurStyleID').append('<option value=' +
                            this.Value + '>' + this.Text + '</option>');
                    });
                    $("#OurStyleID").trigger("chosen:updated");


                    $("#OurStyleID").trigger("change");


                },
                error: function (data) {

                }
            });

        });


        $("#OurStyleID").change(function () {

            debugger
            var Id = $(this).find('option:selected').val();


            $.ajax({
                url: "@Url.Action("PopulateCutPlan", "CutPlanEdit")",
                type: 'Get',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                //  data: JSON.stringify(123),
                data: { 'Id': Id },
                success: function (data) {
                    $('#CutPlanPK').empty();
                    $.each(data, function () {


                        $('#CutPlanPK').append('<option value=' +
                            this.Value + '>' + this.Text + '</option>');
                    });
                    $("#CutPlanPK").trigger("chosen:updated");


                    $("#CutPlanPK").trigger("change");


                },
                error: function (data) {

                }
            });

        });

    });

</script>







@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SampCutReqMaster</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">


            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.Label("Atcc#", new { @class = "control-label col-md-2" });
                    </div>
                    <div class="col-md-10">

                        @Html.DropDownList("AtcID", null, htmlAttributes: new { @class = "chosen-select form-control" })


                    </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.Label("OurStyle#", new { @class = "control-label col-md-2" });
                        </div>
                        <div class="col-md-10">

                            @Html.DropDownList("OurStyleID", new SelectList(string.Empty, "Value", "Text"), null, htmlAttributes: new { @class = "chosen-select form-control", })
                        </div>
                    </div>

                <div class="form-group">
                    <div class="col-md-2">
                        @Html.Label("CutPlan#", new { @class = "control-label col-md-2" });
                    </div>
                    <div class="col-md-10">

                        @Html.DropDownList("CutPlanPK", new SelectList(string.Empty, "Value", "Text"), null, htmlAttributes: new { @class = "chosen-select form-control", })
                    </div>
                </div>

                </div>

            <div class=" row">

              
            </div>

        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">


                @*<input type="submit" value="Save" name="action:Save"  class="btn btn-default"/>*@
                <input type="submit" value="Edit Cut Plan" name="action:EditCut" />
            </div>
        </div>








        <div id='output' class="">
            <!-- Output goes here -->
        </div>


    </div>
}



