@model IEnumerable<ArtWebApp.Areas.ProductionMVC.Viewmodel.PcdAlertModel>
@using System.Data;
<script src="~/Plugin/MyDataTable.js"></script>
 <table id="MyDataTable" class="MyDataTable table table-striped table-bordered" cellspacing="0" width="100">
    <thead>
        <tr>
            <th>Week#</th>
            <th>Line#</th>
            <th>Atcid</th>
            <th>CutStart Date</th>
            <th>  Approval Status</th>
            <th>  Sewing Material Issue</th>
            <th>BO Remarks for Sewing Trims</th>
            <th> BO Plan Accepted/Not Accepted</th>
            <th> Action Pending/Closed</th>
            <th>Factory</th>
            <th>PCD Alert PK</th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td class="WeekNo">
                    @Html.DisplayFor(modelItem => item.WeekNo)
                </td>
                <td class="LineNo">
                    @Html.DisplayFor(modelItem => item.LineNo)
                </td>
                <td class="Atcnum">
                    @Html.DisplayFor(modelItem => item.Atcnum)

                </td>
              
                <td class="CutStartDate">
                    @Html.DisplayFor(modelItem => item.CutStartDate)
                </td>
                <td class="ApprovalStatus">
                    @Html.DisplayFor(modelItem => item.ApprovalStatus)
                </td>
                <td class="SewingMaterialIssue">
                    @Html.DisplayFor(modelItem => item.SewingMaterialIssue)
                </td>
                <td class="BoRemarksSewing">
                    @Html.DisplayFor(modelItem => item.BoRemarksSewing)
                </td>
                <td class="BoPlanSewingAccpet">
                    @Html.DisplayFor(modelItem => item.BoPlanSewingAccpet)
                </td>
                <td class="SewingAction">
                    @Html.DisplayFor(modelItem => item.SewingAction)
                </td>
                <td class="Location_pk">
                    @Html.DisplayFor(modelItem => item.Location_pk)
                </td>
                <td class="Pcdalert_pk">
                    @Html.DisplayFor(modelItem => item.Pcdalert_pk)
                </td>
            </tr>
        }


    </tbody>
</table>
