@model IEnumerable<ArtWebApp.DataModels.ShippingDocumentMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive table-bordered table-striped">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipperName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExporterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipperInv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOofctnRoll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Packagetype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vessel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conatianer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContsainerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipDocNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocType)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.TentativeETA)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.InhouseFTY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InhouseFTYAddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InhouseFTYAddedBy)
            </th>
            <th></th>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedBY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipperName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExporterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipperInv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOofctnRoll)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Packagetype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vessel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conatianer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContsainerType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ETA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipDocNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocType)
                </td>
             
                <td>
                    @Html.DisplayFor(modelItem => item.TentativeETA)
                </td>
               
                
             
                <td>
                    @Html.DisplayFor(modelItem => item.InhouseFTY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InhouseFTYAddedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InhouseFTYAddedBy)
                </td>
                <td>
                   
                    @Html.ActionLink("Gate Receive", "GatereceiptDetails", new { id = item.ShipingDoc_PK }) |

                </td>
            </tr>
        }

    </tbody>

</table>

