@model ArtWebApp.Areas.CuttingMVC.Models.LaySheetShortageViewModel
@{
    ViewBag.Title = "LaysheetShortage";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.SuccessMessage != null)
{
    <text>
        <script>
            $(document).ready(function () {
               alert('@ViewBag.SuccessMessage');
            });
        </script>
    </text>
}
<h2>Extra request against Shortage</h2>
<script type="text/javascript">

    $(document).ready(function () {


        $("#AtcID").change(function () {

            debugger
            var Id = $(this).find('option:selected').val();


            $.ajax({
                url: "@Url.Action("PopulateOurStyle", "LayShortage")",
                type: 'Get',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
              //  data: JSON.stringify(123),
                data: { 'Id': Id },
                success: function (data) {
                    $('#OurStyleID').empty();
                    $.each(data, function () {


                        $('#OurStyleID').append('<option value=' +
                          this.Value + '>' + this.Text + '</option>');
                    });
                    $("#OurStyleID").trigger("chosen:updated");


                    $("#OurStyleID").trigger("change");


                },
                error: function (data) {

                }
            });

            $.ajax({
                url: "@Url.Action("PopulateOFabric", "LayShortage")",
                type: 'Get',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            //  data: JSON.stringify(123),
            data: { 'Id': Id },
            success: function (data) {
                $('#SkuID').empty();
                $.each(data, function () {


                    $('#SkuID').append('<option value=' +
                      this.Value + '>' + this.Text + '</option>');
                });
                $("#SkuID").trigger("chosen:updated");


                $("#SkuID").trigger("change");


            },
            error: function (data) {

            }
        });



        });








        $("#OurStyleID").change(function (e, params) {

            debugger;
            var SelectedOurStyle = new Array();
            SelectedOurStyle = $("#OurStyleID").chosen().val();

            var Id = $('#SkuID').find('option:selected').val();

            if (SelectedOurStyle != null)
            {

                //Populate arrayOfValues
                $.ajax({
                    url: "@Url.Action("PopulateCutOrderofStyle", "LayShortage")",
                    type: "Get",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                traditional: true,
                data: { 'SelectedOurStyle': SelectedOurStyle, 'Id': Id },
                success: function (data) {
                    $('#Cutid').empty()
                    $.each(data, function () {


                        $('#Cutid').append('<option value=' +
                          this.Value + '>' + this.Text + '</option>');
                    });
                    $("#Cutid").trigger("chosen:updated");


                    $("#Cutid").trigger("change");


                },
                error: function (data) {

                }
            });
        }


        });









        $("#Cutid").change(function (e, params) {

            debugger;
            var SelectedOurStyle = new Array();
            SelectedOurStyle = $("#Cutid").chosen().val();

            var Id = $('#SkuID').find('option:selected').val();

            if (SelectedOurStyle != null)
            {

                //Populate arrayOfValues
                $.ajax({
                    url: "@Url.Action("PopulateLaysheetSelectionlist", "LayShortage")",
                    type: "Get",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                traditional: true,
                data: { 'SelectedOurStyle': SelectedOurStyle, 'Id': Id },
                success: function (data) {
                    $('#LaySheetID').empty()
                    $.each(data, function () {


                        $('#LaySheetID').append('<option value=' +
                          this.Value + '>' + this.Text + '</option>');
                    });
                    $("#LaySheetID").trigger("chosen:updated");


                    $("#LaySheetID").trigger("change");


                },
                error: function (data) {

                }
            });
        }


        });







    });

    $(document).ready(function () {




        $("#Show").click(function (e, params) {

            debugger;
            var SelectedOurStyle = new Array();
            SelectedOurStyle = $("#LaySheetID").chosen().val();

            if (SelectedOurStyle != null)
            {


                $.ajax({
                    url: "@Url.Action("GetRollView", "LayShortage")",
                    traditional: true,
                    data: { 'SelectedOurStyle': SelectedOurStyle },
                    type: "GET",
                    success: function (fooBarHTML) {
                        $("#output").html(fooBarHTML);
                    },
                    error: function (xhr, status, errorThrown) {
                        //...
                    }
                });







         }


        });











    });

</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SampCutReqMaster</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">


            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Atcc#", new { @class = "control-label col-md-2" });
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("AtcID", Model.AtcList, htmlAttributes: new { @class = "chosen-select form-control" })



                </div>

            </div>



        </div>



        <div class="form-group">


            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Fab#", new { @class = "control-label col-md-2" });
                </div>
                <div class="col-md-10">
                @Html.DropDownListFor(m => m.SkuID,Model.SkuList, "Please select Fabric", new { @class = "chosen-select form-control" })
                @Html.ValidationMessageFor(m => m.SkuID)


                </div>

            </div>



        </div>









        <div class="form-group">


            <div class="row">
                <div class="col-md-2">
                    @Html.Label("OurStyle#", new { @class = "control-label col-md-2" });
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("OurStyleID", new MultiSelectList(string.Empty, "Value", "Text"), null, htmlAttributes: new { @class = "chosen-select form-control", @multiple = "multiple" })

                </div>

            </div>



        </div>




        <div class="form-group">


            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Cut order#", new { @class = "control-label col-md-2" });
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("Cutid", new MultiSelectList(string.Empty, "Value", "Text"), null, htmlAttributes: new { @class = "chosen-select form-control", @multiple = "multiple" })

                </div>

            </div>



        </div>





        <div class="form-group">


            <div class="row">
                <div class="col-md-2">
                    @Html.Label("LaySheet#", new { @class = "control-label col-md-2" });
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("LaySheetID", new MultiSelectList(string.Empty, "Value", "Text"), null, htmlAttributes: new { @class = "chosen-select form-control", @multiple = "multiple" })

                </div>

            </div>



        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="Show" type="button" value="Show" class="btn btn-default show" />
            </div>
        </div>

        <div class="form-group">


            <div class="row">
                <div class="col-md-2">
                    @Html.EditorFor(modelItem => Model.IsLayShortage)
                    @Html.DisplayNameFor(model => model.IsLayShortage)
                </div>
                @*<div class="col-md-10">
                    @Html.EditorFor(modelItem => Model.IsEndBIT)
                    @Html.DisplayNameFor(model => model.IsEndBIT)
                </div>*@

            </div>



        </div>

        <div id='output' class="">
            <!-- Output goes here -->
        </div>


    </div>
}


