@model IEnumerable<ArtWebApp.DataModels.SupplierMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-responsive table-striped MyDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierPrefix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.partner_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPogiven)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFixedPaymentTermID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryMaster.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyMaster.CurrencyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentModeMaster.PaymentModeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTermMaster.PaymentTermCode)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierPrefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactPerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.partner_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPogiven)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedBY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFixedPaymentTermID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryMaster.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyMaster.CurrencyCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentModeMaster.PaymentModeCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentTermMaster.PaymentTermCode)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Supplier_PK }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Supplier_PK }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Supplier_PK })
                </td>
            </tr>
        }
    </tbody>
</table>
